<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SqlConnString1" connectionString="server=NEBEL-PC\SQLEXPRESS2005;uid=sa;pwd=123456;database=hotelmanage"/>
    <add name="SqlConnString2" connectionString="data source=.\sqlexpress;initial catalog=hotelmanage;user id=sa;pwd=1014nebel@"/>
    <add name="SqlConnString" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\HotelManager\database\HotelManager.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
  

	<appSettings>
		<add key="DbType" value="sql"/>
	</appSettings>
</configuration>